.newsItemArea {
    padding-bottom: 2rem;
}

.title {
    font-size: 1.7rem;
    font-weight: 600;
}

.info {
    font-size: 1rem;
}

.link {
    all: unset;
    font-weight: bolder;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.date {
    font-size: 1rem;
    font-style: italic;
}